page-quote {
    .quote{
        text-align: justify
    }
    .quoteCard{
        padding: 16pt
    }
    .authorName {
        text-align: right;
        color: #808080;
        &::before{
            content: "-";
        }
    }
    .favoriteButton {
        float:right;
        border-color: transparent;
        padding:0pt;
        text-transform: none;
    }
}
