page-quote {
    .quote{
        text-align: center;
    }
    .quoteCard{
        padding: 16pt
    }
    .authorName {
        text-align: center;
        color: #808080;
    }
    .modalButton {
        //float:right;
        //border-color: transparent;
        //padding:0pt;
        text-transform: none;
    }
}
